<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/61f2bd17-df9a-4f72-ac71-af7c2329cdf4/resourceGroups/cushmanone/providers/Microsoft.Web/sites/cushmanoneqa</ResourceId>
    <ResourceGroup>cushmanone</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cushmanoneqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>cushmanoneqa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cushmanoneqa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$cushmanoneqa</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Cushman" Order="1" Enabled="False">
          <Destination Path="Data Source=cushmanone.database.windows.net;Initial Catalog=cushman_qa;Persist Security Info=True;User ID=cushman_one;Password=pSzy63*3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="wr_anit_cushman_one.Models.CushmanContext, wr_anit_cushman_one" MigrationConfiguration="wr_anit_cushman_one.Migrations.Configuration, wr_anit_cushman_one" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Cushman-Web.config Connection String">
      <ParameterValue>Data Source=cushmanone.database.windows.net;Initial Catalog=cushman_qa;Persist Security Info=True;User ID=cushman_one;Password=pSzy63*3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>