@model wr_anit_cushman_one.Models.tsg015_hvac

@{
    ViewBag.Title = "Details";
}

<div class="table-responsive container modal-content">
    <h4 class="well"><strong>Detalle Hvac</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hvac
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_hvac)
        </dd>

        <dt>
            Fecha Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fh_modif)
        </dd>

    </dl>

    <div class="form-group container">
        <div class="col-md-offset-0 col-md-1">
            @Html.ActionLink("Editar", "Edit", "Hvacs", new { id = Model.cd_hvac }, new { @class = "btn btn-danger btn-block" })
        </div>
        <div class="col-md-offset-0 col-md-2">
            @Html.ActionLink("Regresar a la Lista", "Index", "Hvacs", new { @class = "btn btn-danger btn-block" })
        </div>
    </div>

</div>

