<nav class="navbar navbar-expand-lg navbar-primary bg-primary text-white">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-sm-12 me-5">
                
                <img src="~/image/logo_CW.png" />
                <p style="text-align: left; margin-bottom: 0; font-size:xx-small">Cushman &amp; Wakefield &copy;Derechos Reservados</p>
            </div>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center pl-5 me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item"><a class="nav-link text-white active me-3" href="~/Home"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                @if (FrontUser.TienePermiso(RolesPermisos.Usuario_No_Puede_Visualizar_Admon_BR))
                {
                    <li class="nav-item"><a class="nav-link text-white me-3" href="~/Naves/Index">Naves industriales</a></li>
                    <li class="nav-item"><a class="nav-link text-white me-3" href="~/Terrenos1/Index">Terrenos</a></li>
                }
                @if (FrontUser.TienePermiso(RolesPermisos.Usuario_No_Puede_Visualizar_Catalogos))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catálogos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="~/Areas/Index">Área de oficina</a></li>
                            <li><a class="dropdown-item" href="~/Cajones/Index">Cajones</a></li>
                            <li><a class="dropdown-item" href="~/CargaPisos/Index">Capacidad de carga</a></li>
                            <li><a class="dropdown-item" href="../Corredores/Index">Corredores</a></li>
                            <li><a class="dropdown-item" href="~/Espesores/Index">Espesor de piso</a></li>
                            <li><a class="dropdown-item" href="~/EspFerrs/Index">Espuela ferrocarril</a></li>
                            <li><a class="dropdown-item" href="~/EstatusEntregas/Index">Estatus entrega</a></li>
                            <li><a class="dropdown-item" href="~/Hvacs/Index">HVAC</a></li>
                            <li><a class="dropdown-item" href="~/IluminacionesNaturales/Index">Iluminicacion natural</a></li>
                            <li><a class="dropdown-item" href="../Mercados/Index">Mercados</a></li>
                            <li><a class="dropdown-item" href="~/SistIncendios/Index">Sistemas contra incendios</a></li>
                            <li><a class="dropdown-item" href="../TeContactos/Index">Contactos</a></li>
                            <li><a class="dropdown-item" href="~/TiposConstruccion/Index">Tipos construcción</a></li>
                            <li><a class="dropdown-item" href="~/TiposGasNat/Index">Tipos Gas natural</a></li>
                            <li><a class="dropdown-item" href="~/TiposLamparas/Index">Tipos lamparas</a></li>
                            <li><a class="dropdown-item" href="~/Estados/Index">Estados</a></li>
                            <li><a class="dropdown-item" href="~/Municipios/Index">Municipios</a></li>
                            <li><a class="dropdown-item" href="~/Colonias/Index">Colonias</a></li>
                            <li><a class="dropdown-item" href="~/CondicionesArrenda/Index">Condiciones arrendamiento</a></li>
                            <li><a class="dropdown-item" href="~/tp_tech/Index">Tipo techumbre</a></li>
                            <li><a class="dropdown-item" href="~/NivelPiso/Index">Nivel piso</a></li>
                            <li><a class="dropdown-item" href="~/Telefonias/Index">Telefonías</a></li>
                            <li><a class="dropdown-item" href="~/Brokers/Index">Brokers</a></li>
                            <li><a class="dropdown-item" href="~/GruposMercados/Index">Agrupación de Mercados</a></li>
                        </ul>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reportes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (FrontUser.TienePermiso(RolesPermisos.Usuario_No_Puede_Visualizar_Reportes_PDF))
                        {
                            <li><a class="dropdown-item" href="~/ReportNaves/Index">Reporte general</a></li>
                        }

                    </ul>
                </li>
                @if (FrontUser.TienePermiso(RolesPermisos.Usuario_No_Puede_Visualizar_Bitacoras))
                {
                    <li class="nav-item"><a class="nav-link text-white me-3" href="~/BitacoraMov">Bitácora</a></li>

                }
               
                @if (FrontUser.TienePermiso(RolesPermisos.Usuario_No_Puede_Visualizar_Seguridad))
                {
                    <li class="nav-item justify-content-center dropdown me-3">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Seguridad
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="~/UsuariosC/Index">Usuarios</a></li>
                            <li><a class="dropdown-item" href="~/Rol/Index">Roles</a></li>
                            <li><a class="dropdown-item" href="~/Permiso/Index">Módulos</a></li>
                            <li><a class="dropdown-item" href="~/Rol/Roles">Permisos por módulos</a></li>
                        </ul>
                    </li>
                }

            </ul>
            @if (SessionHelper.ExistUserInSession())
            {
                <ul class="navbar-nav navbar-right">
                    <li class="active text-white bi bi-box-arrow-in-left">
                        <a class="text-white" href="~/home/salir">
                            Bienvenido,
                            <b>@FrontUser.Get().Nombre</b>
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </a>
                        
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>