@model wr_anit_cushman_one.Models.tsg012_sist_incendio

@{
    ViewBag.Title = "Details";
}

<div class="table-responsive container modal-content">
    <h4 class="well"><strong>Detalle Sistema Incendio</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sistema Industrial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_sist_inc)
        </dd>

        <dt>
            Fecha Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fh_modif)
        </dd>

    </dl>
    <div class="form-group container">
        <div class="col-md-offset-0 col-md-1">
            @Html.ActionLink("Editar", "Edit", "SistIncendios", new { id = Model.cd_sist_inc }, new { @class = "btn btn-danger btn-block" })
        </div>
        <div class="col-md-offset-0 col-md-2">
            @Html.ActionLink("Regresar a la Lista", "Index", "SistIncendios", new { @class = "btn btn-danger btn-block" })
        </div>
    </div>

</div>

