<!DOCTYPE html>

<html>
<head>    
    <link href="@Url.Content("~/Content/css/msgBoxLight.css")" rel="stylesheet" type="text/css" />

    @RenderSection("headtag", false)
</head>
<body class="layout">
    <div>
        @RenderBody()
    </div>

</body>
</html>
